.search-bg {
  background-color: #fff ;
}
.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

 .title-place{
    margin-top: 70px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 
  
  .place-details {
    text-align: center;
    margin-top: 20px;
  }
  
  .place-media, .place-image {
    max-width: 100%;
    object-fit: cover; 
    height: 100%; 
    border-radius: 8px; 
    margin: 0 auto; 
  }
  
  .place-images-swiper {
    width: 80%;
    height: 500px;
    margin: 20px auto; 
    overflow: hidden; 
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

.swiper-button-next, .swiper-button-prev {
  background-color: #ffffff; 
  border-radius: 50%; 
  border: 2px solid #ddd; 
  color: #333; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; 
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 16px; /* Kích thước cơ bản của mũi tên */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #f0f0f0; 
  color: #000; 
}

.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px; 
}

.description{
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.services {
  display: flex;
}

.services > * {
  flex: 1;         /* Các phần tử con sẽ chia đều chiều rộng */
  padding: 20px;   /* Thêm padding nếu cần */
  text-align: center;  /* Căn giữa nội dung */
}